 {% extends 'base.html' %}
 {% block content %}
<h1>Soccer Commerce</h1>

<h5>NPM: </h5>
<p>{{ npm }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<a href="{% url 'main:create_product' %}">
  <button>+ Add Product</button>
</a>

<hr>

{% if not product_list %}
<p>Belum ada produk berita pada Soccer-Commerce.</p>
{% else %}

{% for product in product_list %}
<div>
  <h3>{{ product.name }}</h3>
  <p>Harga: Rp{{ product.price|floatformat:0 }}</p>

  {% if product.thumbnail %}
    <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
    <br />
  {% endif %}

  <p>Stok: {{ product.quantity }}</p>

  <p><a href="{% url 'main:show_product' product.id %}">
    <button>Show Detail</button>
  </a></p>
</div>


<hr>
{% endfor %}

{% endif %}
 {% endblock content %}